.mediaViewInfo {
  --web-view-name: Web 1920 – 1;
  --web-view-id: Web_1920__1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Web_1920__1;
}  

  
  * {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
  }
  
  #Web_1920__1 {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: white;
		overflow: hidden;
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Retngulo_1 {
		fill: rgba(138,132,132,0.561);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Retngulo_1 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 215px;
		left: 0px;
		top: 0px;
	}


  #Retngulo_2 {
		fill: rgba(138,132,132,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Retngulo_2 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 53px;
		left: 0px;
		top: 215px;
  }
  

  #WhatsApp_Image_2020-04-12_at_1 {
		position: absolute;
		width: 321px;
		height: 187.5px;
		left: 230px;
		top: 15px;
		overflow: visible;
		
	}
	#Retngulo_3 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Retngulo_3 {
		position: absolute;
		overflow: visible;
		width: 675px;
		height: 54px;
		left: 609px;
		top: 147px;
	}
	#Retngulo_4 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Retngulo_4 {
		position: absolute;
		overflow: visible;
		width: 62px;
		height: 54px;
		left: 1284px;
		top: 147px;
	}
	#Retngulo_5 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Retngulo_5 {
		position: absolute;
		overflow: visible;
		width: 5px;
		height: 1px;
		left: 968px;
		top: 521px;
  }
  
  #HOME {
		left: 871px;
		top: 222px;
		position: absolute;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(3,3,3,1);
	}
	#QUEM_SOMOS {
		left: 1040px;
		top: 222px;
		position: absolute;
		overflow: visible;
		width: 199px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(3,3,3,1);
	}
	#PRODUTOS {
		left: 1321px;
		top: 222px;
		position: absolute;
		overflow: visible;
		width: 153px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(3,3,3,1);
	}
	#CONTATO {
		left: 1556px;
		top: 222px;
		position: absolute;
		overflow: visible;
		width: 132px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(3,3,3,1);
  }
  

  .menu {
    background-color: white;
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
   list-style: none; 
  }
  
  .menu a {

    padding: 10px 20px;
    transition: background-color 1s, color 1s;
  }
  
  .menu a:active,
  .menu a:hover {
    background-color: rgb(211, 231, 238);
    color: black;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1s ease 500ms animacaoTitulo forwards;
  }
  
  @keyframes animacaoTitulo {
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  
  .site-subtitle, 
  .site-title {
    color: black;
    text-align: center;
  }
  
  .site-title {
    font-size: 4em;
    font-family: 'Arial', cursive;
  }
  
  .site-subtitle {
   font-style: italic;
   font-family: 'Arial', cursive;
   line-height: 1.8em;
  }
  
  
  .title p {
    color: black;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    animation:typing 4s steps(20) 1s normal;
    white-space: nowrap;
    overflow: hidden;
  }
  
  /*animação*/
  .title p:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
  }
  
  @keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
  }
  
  @keyframes typing {
    from {
        width: 0;
    }
    to {
       width: 18em;
       color: black;
    }
  }



	body {
		background-color:white ;
		background-size: auto 100vh; 
		font-size: 100%;
	  }



	  #controle_de_acesso1 {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 100px;
		top: 500px;
		overflow: visible;
	}
	#Controlador_de_Acesso_1 {
		left: 158.5px;
		top: 819px;
		position: absolute;
		overflow: hidden;
		width: 214px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R402221 {
		left: 200px;
		top: 841px;
		position: absolute;
		overflow: visible;
		width: 83px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}



	#hd_1tb1{
		position: absolute;
		width: 321px;
		height: 321px;
		left: 830px;
		top: 500px;
		overflow: visible;
	}
	#HD_1Tb_Intelbras_Sata_1 {
		left: 889px;
		top: 819px;
		position: absolute;
		overflow: hidden;
		width: 214px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R46670_1 {
		left: 950px;
		top: 841px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}

	#Motor_home1 {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 1580px;
		top: 500px;
		overflow: visible;
	}

	#Motor_Deslizante_Home_1 {
		left: 1630px;
		top: 819px;
		position: absolute;
		overflow: hidden;
		width: 232px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R34500_1 {
		left: 1700px;
		top: 841px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}


























.qmsomos{
	position: absolute;
	overflow: hidden;
	margin-top: 270px;
}

.qmsomos{
  padding: 2em;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:1200px) {
  .qmsomos{
     max-width: 1200px;
  }
}

.qmsomos h2{
  font-family: 'Arial', cursive;
  font-size: 2em;
}

.qmsomos p {
  margin-bottom: 1.4em;
  text-align: justify;
  text-indent: 1.5em;
}

.contact {
	position: absolute;
	overflow: hidden;
	margin-top: 270px;
}



.contact {
	padding: em;
  	min-height: 300vh;
  	margin-right: auto;
  	margin-left: auto;
}

@media (min-width:1200px) {
	.contact{
	   max-width: 30000px;
	}
  }

  .contact h5{
	font-family: 'Arial', cursive;
	font-size: 3em;
  }



  form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: rgba(138,132,132,0.561);
    max-width: 500px;
  }
 
.contact h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: black;

}
 
input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    border: 1px solid;
}
 
input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    color: black;
    font-weight: bold;
}
 
.submit input {
    background-color: orange;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}
 
textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}
 
form label {
    margin-left: 20px;
    color: black;
    font-weight: bold;
}


.prod{
	position: absolute;
	overflow: hidden;
  	margin-top: 270px;
  
}

.prod{
  padding: 2em;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:1200px) {
  .prod{
     max-width: 1200px;
  }
}

.prod h2{
  font-family: 'Arial', cursive;
  font-size: 2em;
}

.prod p {
  margin-bottom: 1.4em;
  text-align: justify;
  text-indent: 1.5em;
}

.img-prod {
    height: 20%;
    width: 20%;
    object-fit: cover; /*todas as imagens ocupam exatamente o mesmo espaço sem deformar*/
    object-position: absolute;
    transition: trasform 500ms;
}

.prod figure {
    text-align: center;
}



#Busque_Aqui {
  left: 667px;
  top: 154px;
  position: absolute;
  overflow: visible;
  width: 168px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(3,3,3,1);
}


/**Definiremos as configurações do Container do slide **/
#sliders{
	/*Remove o bullet*/
	list-style: none;  
	/* Define que position:relative porque os 
	 * elementos filhos usarÃ£o absolute
	 */
	position: relative; 
	/*Define a largura*/
	width: 1000px;
	/*Define uma altura*/
	height:500px;
	/*Centralizar na horizontal*/
	margin:0 auto;
	/*Oculta os elementos que ultrapassarem 
	* as dimensÃµes definidas
  */
  /*margin-top: 275px;*/
  margin: 253px;
  margin-left: 400px;
  text-align: center;
  font-size: xx-large;
  





}
/*Configuremos os itens do slide*/
#sliders li{
  
	/*Definimos como posiÃ§Ã£o absoluta, seguindo o elemento pai*/
  position: absolute;
  object-fit: cover;
  transition: trasform 500ms;
	/*Define que ficarÃ¡ encostado no topo*/
	top:0;
	/*Define que ficarÃ¡ enconstado do lado esquerdo*/
	left:0;
	/*Coloca a opacidade zero, pra ocultar*/
	opacity: 0;
	/*Define ordenaÃ§Ã£o relacionados os elementos*/
	z-index: 0;
	/*Cria uma transiÃ§Ã£o da opacidade com 1 segundo*/
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
 	transition: opacity 1s;
  
}

/* Agora defiremos uma classe 
 * que mostrar o item atual
 */
#sliders li.slider-active{
	/*Ordena que ficarÃ¡ a frente dos itens*/
	z-index: 1;
	/*Mostra o slide atual*/
	opacity: 1;
}


.slider-active img{
	max-width:40%;
    max-height:40%;
    width: auto;
    height: auto;
}

#sliders img{
	width: 40%;
	height: 40%;
}
















































.about-me {
  padding: 2em;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:1200px) {
  .about-me {
     max-width: 1200px;
  }
}

.about-me h2 {
  font-family: 'Arial', cursive;
  margin-bottom: em;
  font-size: 2em;
}

.about-me h3{
	font-family: 'Arial', cursive;
	margin-bottom: 1.4em;
	font-size: 1.5em;
}



.about-me p {
  margin-bottom: 1.4em;
  text-align: justify;
  text-indent: 1.5em;
}

.about-me a {  
  text-decoration: underline;
}

.about a:hover {
  color: teal (255, 116, 36);
  text-decoration: none;
}

.about-me .avatar {
  margin-left: 2em;
  
}

.about-me .avatar img {
  clip-path: polygon(0 15%, 100% 15%, 100% 70%, 0 70%);
  height: 50vh;
}

@media (min-width: 600px) {
  .about-me .avatar img{        
      clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
      float: left; /*fazer a imagem ficar ao redor do texto*/
  }
}

.bt {
	border:1px solid blue;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	font-family:Verdana;
	font-weight:bold;
	font-size:13px;
	padding:6px 10px;
	text-decoration:none;
	}

	.bt {
		border-color:#46a7f5;
		background:linear-gradient(to bottom, #86c6f8 5%, #46a7f5 100%);
		box-shadow:inset 0px 1px 0px 0px #d7ecfd;
		color:#fff;
		text-shadow:0px 1px 0px #528009;  
	}





	#acesso {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 109px;
		top: 361px;
		overflow: visible;
	}
	#Porteiro_Eletrnico_XPE_ {
		left: 165.5px;
		top: 696.5px;
		position: absolute;
		overflow: hidden;
		width: 209px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R58548 {
		left: 228.5px;
		top: 728.5px;
		position: absolute;
		overflow: visible;
		width: 84px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#controle_de_acesso {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 550px;
		top: 376px;
		overflow: visible;
	}
	#Controlador_de_Acesso_ {
		left: 606.5px;
		top: 695.5px;
		position: absolute;
		overflow: hidden;
		width: 214px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R40222 {
		left: 669.5px;
		top: 728.5px;
		position: absolute;
		overflow: visible;
		width: 83px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#concertina_simples {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 1078px;
		top: 376px;
		overflow: visible;
	}
	#Concertina_Simples_ {
		left: 1126.5px;
		top: 697.5px;
		position: absolute;
		overflow: hidden;
		width: 214px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R11523_ {
		left: 1189.5px;
		top: 728.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#hd_1tb {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 1527px;
		top: 376px;
		overflow: visible;
	}
	#HD_1Tb_Intelbras_Sata_ {
		left: 1583.5px;
		top: 695.5px;
		position: absolute;
		overflow: hidden;
		width: 214px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R46670_ {
		left: 1646.5px;
		top: 728.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#hd_2tb {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 101px;
		top: 818px;
		overflow: visible;
	}
	#HD_2Tb_Intelbras_Sata_ {
		left: 166.5px;
		top: 1153.5px;
		position: absolute;
		overflow: hidden;
		width: 209px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R64207_ {
		left: 228.5px;
		top: 1185.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#roteador {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 550px;
		top: 818px;
		overflow: visible;
	}
	#mibo_ic3 {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 1076px;
		top: 818px;
		overflow: visible;
	}
	#ipdome {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 1530px;
		top: 818px;
		overflow: visible;
	}
	#Roteador_Wirelee_Gigabyte_ {
		left: 578.5px;
		top: 1153.5px;
		position: absolute;
		overflow: hidden;
		width: 266px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#Cmera_Wifi_Mibo_Ic3_ {
		left: 1134.5px;
		top: 1153.5px;
		position: absolute;
		overflow: hidden;
		width: 209px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#Cmera_Ip_2Mp_Dome_ {
		left: 1583.5px;
		top: 1153.5px;
		position: absolute;
		overflow: hidden;
		width: 209px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R36680_ {
		left: 669.5px;
		top: 1185.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R32235_ {
		left: 1189.5px;
		top: 1185.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R61210_ {
		left: 1646.5px;
		top: 1185.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#bullet_ip {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 101px;
		top: 1275px;
		overflow: visible;
	}
	#dome_2mp {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 550px;
		top: 1275px;
		overflow: visible;
	}
	#bullet_2mp {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 1076px;
		top: 1275px;
		overflow: visible;
	}
	#dvr4_canais_simples {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 1530px;
		top: 1275px;
		overflow: visible;
	}
	#Cmera_Ip_2Mp_Bullet_ {
		left: 157.5px;
		top: 1610.5px;
		position: absolute;
		overflow: hidden;
		width: 209px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R65030_ {
		left: 228.5px;
		top: 1642.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#Cmera_Dome_20_Mts_ {
		left: 607.5px;
		top: 1610.5px;
		position: absolute;
		overflow: hidden;
		width: 209px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R19900_ {
		left: 670.5px;
		top: 1642.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#Cmera_Bullet_20_Mts_ {
		left: 1134.5px;
		top: 1610.5px;
		position: absolute;
		overflow: hidden;
		width: 209px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R21100_ {
		left: 1197.5px;
		top: 1642.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#DVR_04_Canais_Multi_HD_ {
		left: 1587.5px;
		top: 1610.5px;
		position: absolute;
		overflow: hidden;
		width: 230px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R52185_ {
		left: 1649.5px;
		top: 1642.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#dvrfullhd_08_canais {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 101px;
		top: 1732px;
		overflow: visible;
	}
	#fonte_5a {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 1076px;
		top: 1732px;
		overflow: visible;
	}
	#dvr_16_canais {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 550px;
		top: 1732px;
		overflow: visible;
	}
	#fonte_10a {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 1536px;
		top: 1732px;
		overflow: visible;
	}
	#DVR_08_Canais_Multi_HD_ {
		left: 146.5px;
		top: 2067.5px;
		position: absolute;
		overflow: hidden;
		width: 231px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R91185_ {
		left: 220.5px;
		top: 2099.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#DVR_16_Canais_Multi_HD_ {
		left: 586.5px;
		top: 2067.5px;
		position: absolute;
		overflow: hidden;
		width: 249px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R110535_ {
		left: 653.5px;
		top: 2099.5px;
		position: absolute;
		overflow: hidden;
		width: 118px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#Fonte_Colmeia_5A_ {
		left: 1135.5px;
		top: 2067.5px;
		position: absolute;
		overflow: hidden;
		width: 209px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R3675_ {
		left: 1198.5px;
		top: 2099.5px;
		position: absolute;
		overflow: hidden;
		width: 83px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#Fonte_Colmeia_10A_ {
		left: 1587.5px;
		top: 2067.5px;
		position: absolute;
		overflow: hidden;
		width: 221px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R5985_ {
		left: 1650.5px;
		top: 2099.5px;
		position: absolute;
		overflow: hidden;
		width: 83px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#fonte_20a {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 550px;
		top: 2189px;
		overflow: visible;
	}
	#Motor_home {
		position: absolute;
		width: 321px;
		height: 321px;
		left: 1076px;
		top: 2189px;
		overflow: visible;
	}
	#Fonte_Colmeia_20A_ {
		left: 587.5px;
		top: 2524.5px;
		position: absolute;
		overflow: hidden;
		width: 249px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R8235_ {
		left: 653.5px;
		top: 2556.5px;
		position: absolute;
		overflow: hidden;
		width: 118px;
		height: 28px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#Motor_Deslizante_Home_ {
		left: 1121.5px;
		top: 2524.5px;
		position: absolute;
		overflow: hidden;
		width: 232px;
		height: 32px;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}
	#R34500_ {
		left: 1197.5px;
		top: 2556.5px;
		position: absolute;
		overflow: hidden;
		width: 90px;
		height: 28px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(3,3,3,1);
	}

	#acess {
		list-style: none; 
		white-space: nowrap;
	}